[submodule "External/libLifeSchedulerFramework"]
	path = External/libLifeSchedulerFramework
	url = git@github.com:danybeam/libLifeSchedulerFramework.git
[submodule "External/raylib"]
	path = External/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "External/raylib-cpp"]
	path = External/raylib-cpp
	url = git@github.com:RobLoach/raylib-cpp.git
[submodule "External/raygui"]
	path = External/raygui
	url = git@github.com:raysan5/raygui.git
